<p>navapi works!</p>
<ul>
    <li><a routerLink='/home' routerLinkActive="active" href="home">Home</a></li>
    <li><a routerLink='/news' routerLinkActive="active" href="news">News</a></li>
    <li><a routerLink='/contact' routerLinkActive="active" href="contact">Contact</a></li>
    <li><a routerLink='/about' routerLinkActive="active" href="about">About</a></li>
    <li><a routerLink='/todo/:todoID' routerLinkActive="active" href="todo">todo</a></li>
   
  </ul>
  <br><br>
  <button (click)="gotohome()" class="btn btn-primary"  type="submit">Gotohome</button>

  <div *ngFor="let todo of todos">
    <!-- {{todo|json}} -->
    <table border="2px solid red">
        <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    userId
                </td>
                <td>
                    title
                </td>
                <td>
                    completed
                </td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let todo of todos">
                <tr>
                    <a routerLink="/todo/{{todo.id}}"><td> {{todo.id}}</td></a>
                    <td> {{todo.userId}}</td>
                    <td> {{todo.title}}</td>
                    <td> {{todo.completed}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>