<!-- <p>login works!</p> -->
<!-- (ngSubmit)="onSubmit(userForm.value)" -->
<div class="container">
  

  
<div class="row ">
  
    <div class="image col-md-5">
      <h1>image has to be attached</h1>  
     </div>
     
   <div class="loginform col-md-7 justify-content-center" >
    <form  #userForm="ngForm" autocomplete="off">
    <div class="form-group col-lg-9 col-sm-12 col-md-7">
        <label >Email</label>
        <input name="email" class="form-control" id="Emailinput" required type="email">
      </div>
      <div class="form-group col-lg-9 col-sm-12 col-md-7 ">
        <label>Password</label>
        <input name="password" class="form-control" id="Pwdinput" required type="password" >
        </div>

      </form>
</div>

</div>

</div>
