
  #Signin{
    /* width:60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 100px;
    padding:50px;
    border:2px solid darkcyan;
    border-radius: 5px; */

    /* bootstrap code */
    position: absolute;
    top: 30px;
    padding: 30px;
    border-radius: 10px;
    border:2px solid darkcyan;
    width: 100%;
  }
  
    .btn {
     
      width: 100%;
    
  }
  .chk_box{
    width:3vw;
    height:3vh;
}

  /* .form-group .notmember{
    width: 50%;
    align-items: center;
    justify-content: center;
  } */
  