<!-- <div>
    {{inputstudent.name| uppercase}} <br>
    {{inputstudent.phone}} <br>
    {{inputstudent.class | uppercase }} <br>
<button (click)="onbuttonclick()">send data to parent</button>
</div> -->
<div *ngFor="let todo of todos">
    <!-- {{todo|json}} -->
    <table border="2px solid red">
        <thead>
            <tr>
                <td>
                    userId
                </td>
                <td>
                    id
                </td>
                <td>
                    title
                </td>
                <td>
                    completed
                </td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let todo of todos">
                <tr>
                    <td> {{todo.userId}}</td>
                    <td> {{todo.id}}</td>
                    <td> {{todo.title}}</td>
                    <td> {{todo.completed}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>


<div mdbDropdown class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="true"
      mdbDropdownToggle
    >
      Dropdown button
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" data-bs-toggle="collapse" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" routerLink="/example">Action</a></li>
      <li><a class="dropdown-item" routerLink="/example">Another action</a></li>
      <li><a class="dropdown-item" routerLink="/example">Something else here</a></li>
    </ul>
  </div>
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>
  
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a  routerLink="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#homeSubmenu">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/home1" href="#home1">Home 1</a>
                    </li>
                    <li>
                        <a  routerLink="/home2" href="#home2">Home 2</a>
                    </li>
                    <li>
                        <a routerLink="/home3" href="home3">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/example">About</a>
            </li>
            <li>
                <a routerLink="/example" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a  routerLink="/page1">Page 1</a>
                    </li>
                    <li>
                        <a routerLink="/page2">Page 2</a>
                    </li>
                    <li>
                        <a  routerLink="/page3">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a  routerLink="/example">Portfolio</a>
            </li>
            <li>
                <a  routerLink="/example">Contact</a>
            </li>
        </ul>
    </nav>
  
  </div>