body{
    background-color:lightgrey;
    
  }
   
    .nav1{
      background: yellow;
      height: 100%;
      width: 100%;
    }
    label.logo{
      color:black;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }
    .nav1 ul{
      float: right;
      margin-right: 20px;
     
    }
    .nav1  ul li{
        
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    .nav1 ul li a{
      text-decoration: none;
      color:blue;
      font-size: 17px;
      padding: 7px 13px;
      margin: 0;
      border-radius: 3px;
      /* text-transform: uppercase; */
      list-style: none;
      box-sizing: border-box;
      
    }
    a.active,a:hover{
      background: #1b9bff;
      transition: .5s;
    }
  
    footer.box_2 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: white;
      /* padding-bottom: 20px;
      margin-top: 300px; */
  
  }
  footer.box_2 .head_2{
    color: black;
    background-color: white;
    bottom: 0;
    font-size:medium;
    margin-right: 40px;
    padding-left: 100px;
  }
  /* footer.box_2 .head_2 span{
    color: black;
    background-color: white;
    bottom: 0;
    
  }  */
  .box .table{
    margin-top: 20px;
    /* margin-left:20px; */
    /* margin-right: 100px; */
    width: 350px;
    height: 600px;
    background-color: white;
    /* border-radius: 15px; */
    /* border: 3px solid black; */
    /* list-style-type: none; */
  }