<!-- <p>dashboard works!</p> -->

<nav class="nav1">

    <label class="logo">Yellow pages</label>
    <ul>

        <li> <a href="needhelp.html">Need Help?</a></li>
        <li><a href="#">FAQ</a></li>
        <li class="fa fa-home fa-2x"></li>
        <li class="fas fa-user fa-2x"></li>

    </ul>
</nav>
<div class="box">
    <nav>
        <table class="table table-hover">
            <!-- <thead class="thead-dark"  data-target="#demo" data-toggle="collapse" class="btn btn-danger btn-block" aria-expanded="false" aria-controls="Collapseexample"></thead>
                <tbody class="collapse" id="Collapseexample">     -->
            <tr>
                <td class="buttonForm" data-toggle="collapse" data-target="#demo1"> Dashboard
                    <div id="demo1" class="collapse">
                        <h1>Hello world</h1>

                    </div>
                </td>
            </tr>

            <tr>

                <td class="buttonForm" data-toggle="collapse" data-target="#demo"><span><i
                            class="fas fa-chart-area fa-3x"></i></span> Bussiness Analytics
                    <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">&nbsp Bussiness Analytics</button> -->
                    <div id="demo" class="collapse">
                        <ul>
                            <li>Demographic Analytics</li>
                            <li>Behaviour Analytics</li>
                            <li>Geolocation Analytics </li>
                            <li>Technology Analytics </li>
                        </ul>
                    </div>

                </td>
            </tr>
            <!-- </tbody> -->
            <tr>
                <td class="buttonForm" data-toggle="collapse" data-target="#demo2"> Create Post
                    <div id="demo2" class="collapse">
                        <h1>Hello world</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="buttonForm" data-toggle="collapse" data-target="#demo3">Manage Post
                    <div id="demo3" class="collapse">
                        <h1>Hello world</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="buttonForm" data-toggle="collapse" data-target="#demo4">Manage Avertiser profile
                    <div id="demo4" class="collapse">
                        <h1>Hello world</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="buttonForm" data-toggle="collapse" data-target="#demo5">Billing
                    <div id="demo5" class="collapse">
                        <h1>Hello world</h1>
                    </div>
                </td>
            </tr>
        </table>
    </nav>
</div>

<footer class="box_2">
    <h2 class="head_2"> &copy; Copyright 2021 <span>TM info-Media Sdn Bhd.in Collabration wit <b>APP ASIA </b>All
            rights Reserved <b>D-1.0.137</b></span></h2>

</footer>